/* ==============================================
=================================================
                    Animation
=================================================
================================================= */

header > a img:hover{
    cursor: zoom-in;
}
main > div > section:first-of-type > div:hover p:first-of-type{
    border-left: 5px solid #17abb3;
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
main > div > section:first-of-type > div:hover p:last-of-type{
    border-left: 5px solid #17abb3;
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
footer > div img:hover{
    opacity: 70%;
}